.container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  box-shadow: 0 3px 3px 3px #035aa6;

  max-width: 700px;
}
.container p {
  margin: 0;
  padding: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (min-width: 770px) {
  .outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }
  .container {
    width: 80vw;

    padding: 10px;
  }
}
