.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80vw;
  box-shadow: 0 3px 3px 3px #035aa6;
}
.imgCont {
  margin: 10px;
}
.para {
  margin: 15px;
  text-align: center;
}
.para ul {
  list-style-type: none;
  margin: 0 0 15px;
  padding: 5px;
}
.para ul li {
  padding: 5px;
}
.para h3 {
  margin: 10px;
}

@media (min-width: 770px) {
  .outer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
  }
  .container {
    width: 80vw;
    flex-direction: row;
    padding: 10px;
    max-width: 700px;
  }
  .imgCont {
    width: 50%;
  }
  .para {
    margin: auto;
  }
}
