.para {
  width: 80vw;
  max-width: 700px;
  margin: 10px auto;
  padding: 15px 25px;
  text-align: center;

  box-shadow: 0 3px 3px 3px #035aa6;
  background-color: #fcbf1e;
  /* #fcbf1e; */
}
.para p {
  line-height: 1.8em;
}

@media (min-width: 500px) {
  .para {
    margin-top: 30px;
  }
}
