.para {
  width: 80vw;
  max-width: 700px;
  margin: 20px auto;
  padding: 15px 25px;
  text-align: center;

  box-shadow: 0 0 1px 1px #7f8fa6;

  /* #fcbf1e; */
}
.para p {
  line-height: 1.8em;
}

@media (min-width: 500px) {
  .para {
    margin-top: 30px;
  }
}
